/*
COLOR SCHEME
*/

$border-color: #e9e3e3;
$primary-color: #fff;

$primary-font-color:#1a1515;
$secondary-font-color:#616060;
$tertiary-font-color:#b5adad;
$primary-button-color:#007bff;
$action-button-background:rgba(250, 249, 249, 0.2);
$primary-button-background-hover:#839bb5;
