@charset "UTF-8";
/*
PURPOSE:      The aim of this styleshete is to provide the necessray styling to the Agoda HomePage Assigment. 
              This stylesheet is designed keeping in mind the priciples of Responsive Web Design. 
              USING BOOTSTRAP...

COLOR SCHEME: The following color schmes are used in this sktylesheet.
  #fff    : Background for Sections
  #242323 : Anchors Text Color
  #488bf8 : Anchor hover/visited color
  Gradient Color:  #f68a73, #ffdf8f,  #fff
  #eee8e8 : Border COlor for Choices
  #488bf8 : Blue color for BUtton Background
  #6fb6e9 : Blue Color for Deals background
  #064877 : Blue color for text color inside deals
  rgb(0, 102, 255)  : Clor for 'selected' pane in border
  #8c8787 : Text Color for Deals in case they fall over light backgroumd; Else use #fff
  #535050 : Background color for Important Links
  #e7e7e7 : Text Color for data in IMportant Links and Country Links
*/

/** reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

.logo {
  margin: 1% 1%;
}
.logo img {
  width: 30%;
}
