/**
RESET
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 980px;
  margin: 0 auto;
  background-color: $primary-color;
  font-size: 12px;
  font-family: "Roboto", "sans-serif";
}

h2 {
  text-transform: uppercase;
}



@media only screen and (min-width: 450px) {
  body {
    font-size: 14px;
  }
}

@media only screen and (min-width: 550px) {
  body {
    font-size: 16px;
  }
}
